.grid {
    display: flex;
    flex-wrap: wrap;
    border: solid 4px;
    width: 800px;
    height: 500px;
    position: absolute;
    top: 50%;
    left:  50%;
    transform:  translate(-50%, -50%);
}

.grid div{
    width: 20px;
    height: 20px;
}

.shooter {
    background-color: blue;
}

.invader{
    background-color: red;
    border-radius: 10px;
}

.boom{
    background-color: orange;
}
.laser{
    background-color: yellow;
}