
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    height: 100vh;
    overflow: hidden;
    font: 16px poppins;
    background: url(img/UNION-FLAG-MAIN.jpg);
    background-size: cover;
  }
  
  @media (max-width: 768px){
    body{
      height: 80vh;
      font: 14px poppins;
      background-position-x: center;
    }
  }

  @media (max-width: 318px){
    body{
      font: 10px poppins;
    }
  }

  .wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  @media (max-width: 768px){
    .wrap{
      height: 80%;
    }
  }

  .game-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    width: 800px;
    height: 600px;
    background: url(img/desert-2042738_960_720.webp);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    position: relative;
    z-index: -1;
    border-radius: 10px;
  }
  
  @media (max-width: 770px){
    .main{
      /* display: block; */
      width: 536px;
      height: 402px;
      background-position-x: center;
    }
  }

  header {
    text-align: center;
    background: blue;
    color: white;
    padding: 10px;
  }
  
  @media (max-width: 768px){
    header {
        padding: 8px;
    }
  }

  footer {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background: black;
    color: white;
  }

  @media (max-width: 768px){
    footer {
        padding: 8px;
        font-size: 16px;
    }
  }
  
  @keyframes scroll-background {
    from {
      background-position-y: 0px;
    }
    to {
      background-position-y: 256px;
    }
  }
  
  .wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .main .laser {
    position: absolute;
    margin-left: -2.5px;
    height: 25px;
    /* default z-index is 0*/
    z-index: -1;
  }
  
  @media (max-width: 768px){
    .main .laser{
     height: 10px;
    }
  }

  .main .enemy{
    position: absolute;
  }
  
  @media (max-width: 400px) {
    .main .enemy{
      display: block;
    }
    
  }
  .main .enemyLaser {
    position: absolute;
    margin-left: -2.5px;
    height: 20px;
    /* default z-index is 0*/
    z-index: -1;
  }

   .lose {
    display: none;
    position: absolute;
    background: url(img/earth_exp.jpg);
    background-size: cover;
    color: darkgrey;
    padding: 80px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.21);
    border-radius: 10px;
    text-align: center;
    animation: pop-in 1s;
  }
  
  @media (max-width: 768px){
    .lose{
      padding: 60px 40px;
      background-position-x: center;
    }
  }

  .win  {
    display: none;
    position: absolute;
    background: url(img/R.jpg);
    background-size: cover;
    color: yellow;
    padding: 20px 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
    text-align: center;
    animation: pop-in 1s;
  }


  /* @media (max-width: 770px){
    .lose {
      padding: 64px 32px;
    }  
  }

  @media (max-width: 720px){
    .win {
      padding: 66%;
    }
  }

  @media (max-width: 320px){
    .lose {
      padding: 10px 25.6px;
    }  
  } */
  /* @media (max-width: 770px){
    .win{
      padding: 13.4px 33.5px;
    }
  }

  @media (max-width: 320px){
    .main{
      width: 272px;
      height: 204px;
    }
  } */
